--# -coding=latin1

concrete Domain{{language}} of Domain = Core{{language}} ** open Prelude, Basic{{language}}, Syntax{{language}}, Paradigms{{language}}, Constructors{{language}} in {

lin

{{#lin}}
  {{{.}}}
{{/lin}} 

oper 

{{#oper}}
  {{{.}}}
{{/oper}}

}