{{#Afr}} 
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Afr}}
{{#Ara}}
clrA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Ara}}
{{#Cat}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Cat}}
{{#Chi}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Chi}}
{{#Dan}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Dan}}
{{#Dut}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Dut}}
{{#Eng}} 
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Eng}}
{{#Est}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Est}}
{{#Fin}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Fin}}
{{#Fre}}
mkA {{#positive_masc}}\"{{value}}\"{{/positive_masc}}{{^positive_masc}}\"{{canonicalForm}}\"{{/positive_masc}} {{#positive_fem}}\"{{value}}\"{{/positive_fem}} {{#positive_plural}}\"{{value}}\"{{/positive_plural}}
{{/Fre}}
{{#Ger}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}} {{#comparative}}\"{{value}}\"{{/comparative}} {{#superlative}}\"{{value}}\"{{/superlative}}
{{/Ger}}
{{#Gre}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Gre}}
{{#Hin}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Hin}}
{{#Ita}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Ita}}
{{#Jpn}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Jpn}}
{{#Lav}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Lav}}
{{#Mlt}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}} {{#superlative}}\"{{value}}\"{{/superlative}} {{#positive_fem}}\"{{value}}\"{{/positive_fem}}
{{/Mlt}}
{{#Nep}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Nep}}
{{#Nor}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}} {{#positive_neut}}\"{{value}}\"{{/positive_neut}} {{#positive_plural}}\"{{value}}\"{{/positive_plural}}
{{/Nor}}
{{#Pes}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Pes}}
{{#Pol}}
mkRegAdj {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}} {{#comparative}}\"{{value}}\"{{/comparative}}
{{/Pol}}
{{#Ron}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Ron}}
{{#Rus}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}} {{#comparative}}\"{{value}}\"{{/comparative}}
{{/Rus}}
{{#Spa}}
mkA {{#positive_masc}}\"{{value}}\"{{/positive_masc}}{{^positive_masc}}\"{{canonicalForm}}\"{{/positive_masc}} \"{{positive_fem}}\" 
{{/Spa}}
{{#Swa}}
regA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Swa}}
{{#Swe}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}} {{#comparative}}\"{{value}}\"{{/comparative}} {{#superlative}}\"{{value}}\"{{/superlative}}
{{/Swe}}
{{#Tha}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Tha}}
{{#Tur}}
mkA {{#positive}}\"{{value}}\"{{/positive}}{{^positive}}\"{{canonicalForm}}\"{{/positive}}
{{/Tur}}