{{#Afr}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}}{{^gender}}het{{/gender}}
{{/Afr}}
{{#Ara}}
brkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}} {{#species}}{{value}}{{/species}}
{{/Ara}}
{{#Cat}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}}{{^gender}}masculine{{/gender}}
{{/Cat}}
{{#Chi}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}}
{{/Chi}}
{{#Dan}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}}
{{/Dan}}
{{#Dut}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}}{{^gender}}het{{/gender}}
{{/Dut}}
{{#Eng}} 
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}}
{{/Eng}}
{{#Est}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#genitive}}\"{{value}}\"{{/genitive}} {{#partitive}}\"{{value}}\"{{/partitive}} {{#plpartitive}}\"{{value}}\"{{/plpartitive}}
{{/Est}}
{{#Fin}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plpartitive}}\"{{value}}\"{{/plpartitive}} {{#genitive}}\"{{value}}\"{{/genitive}} {{#partitive}}\"{{value}}\"{{/partitive}} 
{{/Fin}}
{{#Fre}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#gender}}{{#plural}} \"{{value}}\" {{#gender}}{{value}}{{/gender}}{{/plural}}{{/gender}}
{{/Fre}}
{{#Ger}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#gender}}{{#plural}} \"{{value}}\" {{#gender}}{{value}}{{/gender}}{{/plural}}{{/gender}}
{{/Ger}}
{{#Gre}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}}{{^gender}}masculine{{/gender}}
{{/Gre}}
{{#Hin}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#gender}}{{value}}{{/gender}}
{{/Hin}}
{{#Ita}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}}
{{/Ita}}
{{#Jpn}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#animate}}{{value}}{{/animate}}
{{/Jpn}}
{{#Lav}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#gender}}{{value}}{{/gender}}
{{/Lav}}
{{#Mlt}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}}
{{/Mlt}}
{{#Nep}}
regN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}}
{{/Nep}}
{{#Nor}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#gender}}{{value}}{{/gender}}
{{/Nor}}
{{#Pes}}
mkN01 {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#animate}}{{value}}{{/animate}}
{{/Pes}}
{{#Pol}}
nonExist
{{/Pol}}
{{#Ron}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}}
{{/Ron}}
{{#Rus}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#animate}}{{value}}{{/animate}}
{{/Rus}}
{{#Spa}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}} {{#gender}}{{value}}{{/gender}}
{{/Spa}}
{{#Swa}}
regN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#gender}}{{value}}{{/gender}} {{#animate}}{{value}}{{/animate}}
{{/Swa}}
{{#Swe}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}}
{{/Swe}}
{{#Tha}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}} {{#plural}}\"{{value}}\"{{/plural}}
{{/Tha}}
{{#Tur}}
mkN {{#singular}}\"{{value}}\"{{/singular}}{{^singular}}\"{{canonicalForm}}\"{{/singular}}
{{/Tur}}