{{#Afr}}
mkPrep \"{{marker}}\"
{{/Afr}}
{{#Ara}}
mkPreposition \"{{marker}}\"
{{/Ara}}
{{#Cat}}
mkPrep \"{{marker}}\"
{{/Cat}}
{{#Chi}}
mkPrep \"{{marker}}\"
{{/Chi}}
{{#Dan}}
mkPrep \"{{marker}}\"
{{/Dan}}
{{#Dut}}
mkPrep \"{{marker}}\"
{{/Dut}}
{{#Eng}}
mkPrep \"{{marker}}\"
{{/Eng}}
{{#Est}}
postGenPrep \"{{marker}}\"
{{/Est}}
{{#Fin}}
mkPrep \"{{marker}}\"
{{/Fin}}
{{#Fre}}
mkPrep \"{{marker}}\"
{{/Fre}}
{{#Ger}}
mkPrep \"{{marker}}\" {{#case}}{{value}}{{/case}}{{^case}}accusative{{/case}}
{{/Ger}}
{{#Gre}}
mkPrep \"{{marker}}\"
{{/Gre}}
{{#Hin}}
mkPrep \"{{marker}}\" \"\"
{{/Hin}}
{{#Ita}}
mkPrep \"{{marker}}\"
{{/Ita}}
{{#Jpn}}
nonExist
{{/Jpn}}
{{#Lav}}
mkPrep \"{{marker}}\" {{#case}}{{.}} {{.}}{{/case}}{{^case}}accusative locative{{/case}}
{{/Lav}}
{{#Mlt}}
nonExist
{{/Mlt}}
{{#Nep}}
mkPrep \"{{marker}}\"
{{/Nep}}
{{#Nor}}
mkPrep \"{{marker}}\"
{{/Nor}}
{{#Pes}}
mkPrep \"{{marker}}\"
{{/Pes}}
{{#Pol}}
nonExist
{{/Pol}}
{{#Ron}}
mkPrep \"{{marker}}\" {{case}}
{{/Ron}}
{{#Rus}}
mkPrep \"{{marker}}\" {{case}}
{{/Rus}}
{{#Spa}}
mkPrep \"{{marker}}\"
{{/Spa}}
{{#Swa}}
mkPrep \"{{marker}}\"
{{/Swa}}
{{#Swe}}
mkPrep \"{{marker}}\"
{{/Swe}}
{{#Tha}}
mkPrep \"{{marker}}\"
{{/Tha}}
{{#Tur}}
mkPrep \"{{marker}}\" {{case}}
{{/Tur}}