{{#Afr}}
mkV \"{{canonicalForm}}\" {{#thirdPerson_singular_past}}\"{{value}}\" {{#thirdPerson_plural_past}}\"{{value}}\" {{/thirdPerson_plural_past}} {{#participle}}\"{{value}}\"{{/participle}}{{/thirdPerson_singular_past}}
{{/Afr}}
{{#Ara}}
regV \"{{canonicalForm}}\"
{{/Ara}}
{{#Cat}}
mkV \"{{canonicalForm}}\"
{{/Cat}}
{{#Chi}}
mkV \"{{canonicalForm}}\"
{{/Chi}}
{{#Dan}}
mkV \"{{canonicalForm}}\" {{#thirdPerson_singular_past}}\"{{value}}\"{{/thirdPerson_singular_past}} {{#participle}}\"{{value}}\"{{/participle}}
{{/Dan}}
{{#Dut}}
mkV \"{{canonicalForm}}\" {{^thirdPerson_singular_past}}{{#thirdPerson_singular_present}}\"{{value}}\"{{/thirdPerson_singular_present}}{{/thirdPerson_singular_past}} {{#thirdPerson_singular_past}}\"{{value}}\" {{#thirdPerson_plural_past}}\"{{value}}\" {{/thirdPerson_plural_past}} {{#participle}}\"{{value}}\" {{/participle}}{{/thirdPerson_singular_past}}
{{/Dut}}
{{#Eng}}
mkV \"{{canonicalForm}}\" {{#thirdPerson_singular_past}}\"{{value}}\"{{/thirdPerson_singular_past}} {{#participle}}\"{{value}}\"{{/participle}}
{{/Eng}}
{{#Est}}
mkV \"{{canonicalForm}}\"
{{/Est}}
{{#Fin}}
mkV {{#present}}\"{{value}}\" {{#thirdPerson_singular_past}}\"{{value}}\"{{/thirdPerson_singular_past}} {{#firstPerson_singular_past}}\"{{value}}\"{{/firstPerson_singular_past}}{{/present}} {{^present}}\"{{canonicalForm}}\"{{/present}}
{{/Fin}}
{{#Fre}}
mkV \"{{canonicalForm}}\" {{#thirdPerson_singular_present}}\"{{value}}\"{{/thirdPerson_singular_present}} {{#thirdPerson_singular_past}}\"{{value}}\"{{/thirdPerson_singular_past}}
{{/Fre}}
{{#Ger}}
{{#split}}mkV {{canonicalForm_prefix}} (mkV \"{{canonicalForm_rest}}\"{{/split}}{{^split}}mkV \"{{canonicalForm}}\"{{/split}} {{#thirdPerson_singular_present}}\"{{value}}\" {{#thirdPerson_singular_past}} \"{{value}}\" {{#subjunctive}} \"{{value}}\" {{#participle}}\"{{value}}\"{{/participle}}{{/subjunctive}}{{/thirdPerson_singular_past}}{{/thirdPerson_singular_present}}){{#split}}){{/split}}
{{/Ger}}
{{#Gre}}
mkV \"{{canonicalForm}}\"
{{/Gre}}
{{#Hin}}
mkV \"{{canonicalForm}}\"
{{/Hin}}
{{#Ita}}
mkV \"{{canonicalForm}}\"
{{/Ita}}
{{#Jpn}}
mkV \"{{canonicalForm}}\" {{#verb_group}}{{value}}{{/verb_group}}
{{/Jpn}}
{{#Lav}}
mkV \"{{canonicalForm}}\" {{#conjugation}}{{value}}{{/conjugation}} {{#case}}{{value}}{{/case}}
{{/Lav}}
{{#Mlt}}
mkV \"{{canonicalForm}}\" {{#root}}{{value}}{{/root}}
{{/Mlt}}
{{#Nep}}
mkV \"{{canonicalForm}}\"
{{/Nep}}
{{#Nor}}
mkV \"{{canonicalForm}}\" {{#thirdPerson_singular_past}}\"{{value}}\"{{/thirdPerson_singular_past}} {{#participle}}\"{{value}}\"{{/participle}}
{{/Nor}}
{{#Pes}}
mkV \"{{canonicalForm}}\" {{#root_present}}\"{{value}}\"{{/root_present}}
{{/Pes}}
{{#Pol}}
mkV \"{{canonicalForm}}\" {{#conjugation}}{{value}}{{/conjugation}} {{#canonicalForm}}\"po{{value}}\"{{/canonicalForm}} {{#conjugation}}{{value}}{{/conjugation}}
{{/Pol}}
{{#Ron}}
mkV \"{{canonicalForm}}\"
{{/Ron}}
{{#Rus}}
mkV \"{{firstPerson_singular_present}}\" \"{{secondPerson_singular_present}}\" \"{{thirdPerson_singular_present}}\" \"{{firstPerson_plural_present}}\" \"{{secondPerson_plural_present}}\" \"{{thirdPerson_plural_present}}\" \"{{thirdPerson_singular_past}}\" \"{{imperative}}\" \"{{canonicalForm}}\"
{{/Rus}}
{{#Spa}}
mkV \"{{canonicalForm}}\" {{#firstPerson_singular_present}}\"{{value}}\"{{/firstPerson_singular_present}}
{{/Spa}}
{{#Swa}}
regV \"{{canonicalForm}}\" 
{{/Swa}}
{{#Swe}}
mkV \"{{canonicalForm}}\"
{{/Swe}}
{{#Tha}}
mkV \"{{canonicalForm}}\"
{{/Tha}}
{{#Tur}}
mkV \"{{canonicalForm}}\" {{#aorist}}\"{{value}}\"{{/aorist}}
{{/Tur}}